@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;500&family=Righteous&family=Sarala:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
}

.imagem-cabecalho {
    height: 150px;
}

.cabecalho-menu {
    display: flex;
    gap: 70px;
    font-size: 24px;
}

.cabecalho-menu-item {
    font-family: 'Dosis', sans-serif;
    font-weight: 400;
}

.cabecalho-menu-item:hover {
    color: #C70A80;
}

.conteudo {
    border-top: 0.4px solid;
}

.conteudo-principal {
    margin: 48px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.conteudo-principal-escrito {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.titulo-principal {
    font-family: 'Dosis', sans-serif;
    font-size: 100px;
    font-weight: 200;
}

.subtitulo-princpal {
    font-family: 'Dosis', sans-serif;
    font-size: 24px;
    font-weight: 50;
    color: black;
}

.conteudo-secundario {
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:32px
}

.conteudo-secundario-titulo {
    border-top: 0.4px solid;
    margin-top: 48px;
    padding-top: 48px;
    font-family: 'Dosis', sans-serif;
    font-size: 24px;
}

.conteudo-secundario-escrito {
    margin-left: 48px;
    margin-right: 48px;
    font-family: 'Dosis', sans-serif;
    font-size: 24px;
    font-weight: 50;
    color: black;
}

.rodape {
    padding: 32px;
    border-top: 0.4px solid rgb(0, 0, 0);
    margin-top: 48px;
}

.imagem-rodape {
    
    display: block;
    margin: 0% auto;
}